@import '../fonts/inter/inter.css';

*,
*::before,
*::after {
    box-sizing: border-box;
}


body {    
    padding: 0;
    margin: 0;
    background-color: #f9f9f9;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Inter var', system-ui, sans-serif;
    font-size: 15px;
}

.container {
    width: 100%;
    max-width: 1024px;
    margin: auto;
}

main {
    flex: 1;
    padding: 18px 12px;
}

main > .container {
    padding: 12px;
}

header {
    padding: 18px 12px;
}

header .for-pictorgram {
    margin-right: 12px;
    flex: 0;
}

header .for-pictorgram  .pictogram { 
    width: 64px;
    height: auto;
}

header > div > div {
    display: flex;
    flex-direction: row;
}

header > div > div > * {
    margin: auto 0;
}

header > div > div > .header-bar {
    flex: 1;
}

header > div > nav {
    margin-top: 12px;
    margin-left: 12px;
}

header > div > nav > a {
    font-size: 80%;
    font-weight: 500;
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 4px 24px;
    border-radius: 4px;
    margin-right: 8px;
    background-color: #ffffff;
}

header > div > nav > a > img {
    width: 32px;
}

header h2,
header h1 {
    padding: 0;
    margin: 0;
}

header h1 {
    font-size: 150%;
    font-weight: 300;
}

header h2 {
    font-size: 110%;
    font-weight: 100;
}

footer {
    background-color: #ffffff;
    padding: 18px 12px;
    font-size: 80%;
}

footer > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

footer > div > div {
    margin: auto;
}

footer > div > .left,
footer > div > .right {
    flex: 1;
}

footer .pictogram {
    width: 32px;
    height: auto;
}

footer a {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
}



.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}
