*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
p,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}


button,
input,
select,
textarea {
  margin: 0;
}

img,
video {
  height: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

.hidden-object,
planet-metadata {
    display: none;
}

.capitalized::first-letter {
    text-transform: uppercase;
}

body {    
    padding: 0;
    margin: 0;
    background-color: #f9f9f9;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Inter var', system-ui, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.std-button {
    display: inline-block;
    padding: 2px 6px;
    color: #000;
    border: 2px solid #000;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
}

.small-text {
    font-size: 80%;
}

.main-columns {
    display: flex;
    flex-direction: row;
}

.main-columns > div {
    flex: 1;
    margin-left: 32px;
}

.main-columns > div:first-child {
    margin-left: 0;
}

.main-columns h2.column-title {
    margin-bottom: 32px;
    font-weight: 200;
}

figure > img.image-cover {
    width: 100%;
    margin-top: 48px;
    border-radius: 4px;
}

figure > img.image-cover ~ figcaption {
    font-size: 80%;
    text-align: center;
    color: #888;
    margin-bottom: 32px;
    
}

.container {
    width: 100%;
    max-width: 1024px;
    margin: auto;
}

.container p {
    margin: 0;
    padding: 0;
}

.structured-text p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.structured-text ul a,
.structured-text p a {
    color: #333;
    text-decoration: none;
    border-bottom: 1px dotted #666;
}

code.literal {
    font-family: "Fira Mono", monospace;
    background-color: #FFF;
    color: #333;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 80%;
}


pre.sourceCode {
    max-width: 0;
}

pre.example code,
pre.sourceCode code {
    color: #000;
    border-radius: 0;
    padding: 0;
    margin: 0;
    background-color: transparent;
    font-size: 100%;
}

pre.sourceCode * {
    font-family: "Fira Mono", monospace;
}

code.sourceCode {
    background-color: #fefefe;
    padding: 2px 8px;
    border-radius: 4px;
}

div.sourceCode {
    background-color: #fefefe;
    font-size: 90%;
    border-radius: 4px;
    margin: 24px 0;
    padding: 8px;
}

div.code-container {
    background-color: #fefefe;
    border-radius: 4px;
    margin: 24px 0;
    padding: 8px;
    font-size: 90%;
}

div.code-container  div.sourceCode {
    padding: 0;
    margin: 0;
    font-size: 100%;
}

div.code-container > .code-concrete-container {
    display: flex;
    flex-direction: row;
    
}

div.code-container .code-line-number {
    flex: 0;
    order: 0;
    padding: 0;
    text-align: right;
    color: #888;
    margin: 0;
    margin-right: 24px;
    font-family: "Fira Mono", monospace;
}

div.code-container .code-line-number > div {
    min-width: 18px;
    display: inline-block;
    font-weight: 400;
    font-size: 100%;
    border: 1px solid transparent;
    height: 1.5em;
}

div.code-container div.sourceCode {
    flex: 1;
    order: 1;
}


div.code-container .code-underbox:empty {
    display: none;
}

div.code-container .code-underbox {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    align-items: center;
}

div.code-container .code-underbox .code-pellet {
    flex: 0;
    margin-right: 10px;
    background-color: #444;
    color: #FFF;
    padding: 3px 12px;
    font-weight: 700;
    font-size: 80%;
    border-radius: 4px;
}

div.code-container .code-underbox .code-file {
    flex: 1;
    color: #444;
}

div.roe[data-kind="quote"] .quote-underbox .quote-place a,
div.code-container .code-underbox .code-file a {
    color: #444;
    text-decoration: none;
    border-bottom: 1px dotted #444;
}

.highlighted {
    background-color: #E8FAF8;
    border-radius: 4px;
    
}

main {
    flex: 1;
    padding: 18px 12px;
    margin-top: 18px;
}

main > .container {
    padding: 12px;
}

#sticky-header {
    position: sticky;
    position: -webkit-sticky;
    top: 2px;
    bottom: 0;
}

#sticky-header:empty {
    display: none;
}

#sticky-header > div {
    max-width: 1024px;
    margin: auto;
}

#sticky-header > div:empty {
    display: none;
}

header {
    padding: 48px 12px 22px 12px;
    background-color: #FFF;
}

header .for-pictorgram {
    margin-right: 12px;
    flex: 0;
}

header .for-pictorgram  .pictogram { 
    width: 64px;
    height: auto;
}

header > div > div {
    display: flex;
    flex-direction: row;
}

header > div > div > * {
    margin: auto 0;
}

header > div > div > .header-bar {
    flex: 1;
}

header > div > nav {
    margin-top: 32px;
}

header > div > nav > a {
    font-size: 80%;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 4px 12px;
    border-radius: 4px;
    margin-right: 8px;
    background-color: #000;
}

header h2,
header h1 {
    padding: 0;
    margin: 0;
}

header h1 {
    font-size: 150%;
    font-weight: 300;
}

header h2 {
    font-size: 110%;
    font-weight: 100;
}

.error-box {
    background-color: #000;
    color: #fff;
    padding: 12px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

footer {
    background-color: #ffffff;
    padding: 18px 12px;
    font-size: 80%;
}

footer > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

footer > div > div {
    margin: auto;
}

footer > div > .left,
footer > div > .right {
    flex: 1;
}

footer .pictogram {
    width: 32px;
    height: auto;
}

footer a {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
}



.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.content-page .major-header,
.project-item {
    display: flex;
    flex-direction: row;
}

.major-header .synopsis {
    display: block;
    margin-bottom: 12px;
}

a.long-item {
    display: block;
    margin-bottom: 32px;
}

.long-item,
.content-page .major-header,
.project-item {
    margin: 0;
    color: #000;
}

.long-item p.synopsis {
    margin-top: 12px;
}

.project-item {
    margin-bottom: 16px;
}

.content-page .major-header {
    align-items: center;
}

.long-item,
.project-item {
    align-items: start;
    text-decoration: none;
    color: #000;
    font-size: 80%;
}

.content-page .major-header img,
.project-item img {
    height: auto;
}

.project-item img {
    width: 48px;
}

.content-page .major-header img {
    width: 64px;
}

.content-page .project-picto,
.project-item .project-picto {
    padding: 2px;
}

.project-item .project-picto {
    /* background-color: #000; */
    /* border-radius: 10px 0 10px 0; */
    /* padding: 4px; */
}


.long-item h3,
.project-item h3 {
    padding: 0;
    margin: 0;
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 140%;
}

.content-page .major-details,
.project-item .project-details {
    margin-left: 12px;
}

.major-details h1 {
    font-weight: 700;
}

.content-page .major-content {
    margin: 32px 0;
    display: flex;
    flex-direction: row;
}

.content-page .major-content .long-text {
    flex: 5;
    flex-shrink: 0;
    margin-right: 32px;
}

.content-page .major-content .content-rightbar {
    flex: 2;
    flex-shrink: 0;
    padding: 0 18px 0 12px;
    display: flex;
    flex-direction: column;
}

.content-page .major-content .content-rightbar > div {
    flex: 1;
}

.content-page .project-badges,
.project-item .project-badges {
    margin: 0;
    margin-top: 8px;
    display: flex;
    flex-direction: row;
}

.major-details .badge,
.long-item .badge,
.project-badges > .project-badge {
    border-radius: 4px;
    font-family: "Fira Mono", monospace;
    font-weight: 400;
    font-size: 80%;
    background-color: #FFF;
    padding: 4px 8px;
    margin: 0;
    margin-right: 6px;
}

.long-item p {
    margin-bottom: 8px;
}

.major-details .published::before,
.long-item .published::before {
    content: "publié le ";
    font-weight: 200;
    color: #444;
}

.project-badges > .updated-ago::before {
    content: "modifié ";
    font-weight: 200;
    color: #444;
}

.project-badges > .status::before {
    content: "status : ";
    font-weight: 200;
    color: #444;
}

.project-badges > .license::before {
    content: "licence : ";
    color: #444;
    font-weight: 200;
}

.project-badges > .repo::before {
    content: "repo: ";
    color: #444;
    font-weight: 200;
}


.project-badges .project-badge a {
    text-decoration: none;
    color: #000;
}

.qexp-metadata {
    display: none;
}


#major-content-bottom .project-block,
#major-content-right .project-block {
    margin: 0;
    margin-bottom: 28px;
}

#major-content-bottom .project-block h3,
#major-content-right .project-block h3 {
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 100%;
    padding: 8px 0;
    text-transform: capitalize;
}

div.resume-box h3,
#major-content-right .project-block h3 {
    padding-bottom: 8px;
    border-bottom: 2px solid #EEE;
    color: #888;
}

#major-content-bottom .project-block h3 {
    margin: 0;
    color: #000;
    /* border-bottom: 2px solid #BBB; */
}

#major-content-bottom .project-block h3 > span,
#major-content-right .project-block h3 > span {
    flex: 1; 
}

#major-content-bottom .project-block h3 > span.label,
#major-content-right .project-block h3 > span.label {
    flex: 0;
    background-color: #eee;
    color: #666;
    padding: 4px 12px;
    border-radius: 8px;
    font-size: 80%;
}

#major-content-bottom .project-block ul {
    margin: 0;
    padding: 4px 8px;
}

#major-content-right .project-block ul {
    margin: 0;
    padding: 4px 8px;
    margin-top: 12px;
}

#major-content-bottom .list-of-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}


#major-content-bottom .list-of-links > div {
    flex: 0 1 33%;
    padding: 0 12px;
}

#major-content-bottom .list-of-links div:last-child {
    margin-right: 0;
}


#major-content-bottom .project-block ul > li,
#major-content-right .project-block ul > li {
    list-style: none;
}

#major-content-right .project-block ul > li {
    margin: 4px 0px;
}

#major-content-bottom .link-list ul > li {
    border-bottom: 1px solid #eee;
}

#major-content-right .tag-list ul > li {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 4px 8px;
    margin: 4px;
    font-size: 80%;
    border-radius: 4px;
}

#major-content-bottom .link-list ul > li > a {
    text-decoration: none;
    color: #555;
    font-size: 88%;
    display: block;
}

#major-content-right .release-list a.view-releases {
    display: block;
    margin-top: 12px;
    font-size: 85%;
    color: #444;
    text-decoration: none;
}

#major-content-right .tracking  ul.stats > li,
#major-content-right .release-list ul > li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#major-content-right .tracking ul.stats {
    font-size: 75%;
}

#major-content-right .tracking  ul.stats > li > .label,
#major-content-right .release-list ul > li > .date {
    padding: 4px 8px;
    border-radius: 4px;
    display: block;
    margin-right: 12px;
}

#major-content-right .tracking  ul.stats > li > .label {
    background-color: #eee;
    color: #666;
    font-weight: 700;
    flex: 0 1 40%;
    text-align: center;
}

#major-content-right .tracking ul.stats > li > .data,
#major-content-right .release-list ul > li > .date {
    font-family: "Fira Mono", monospace;
}

#major-content-right .release-list ul > li > .date {
    font-weight: 500;
    background-color: #000;
    color: #fff;
    font-size: 75%;
}

#major-content-right .release-list ul > li > a {
    display: block;
    text-decoration: none;
    color: #000;
    font-family: "Fira Mono", monospace;
    flex: 1;
}

#major-content-bottom {
    border-top: 2px solid #eee;
    margin-top: 12px;
    padding-top: 20px;
}

#major-content-bottom:empty {
    display: none;
}

#major-content-right .tracking-graph {
    margin: 0px 8px;
    width: 100%;
}

#major-content-right .tracking-graph text {
    font-family: "Fira Mono", monospace;
    font-size: 60%;
}

.structured-text .math em{
    font-family: 'Old Standard TT', 'Helvetica Neue', Helvetica, serif;
    font-size: 110%;
}

.structured-text h1,
.structured-text h2,
.structured-text h3 {
    font-weight: 300;
}

.structured-text figure {
    display: block;
    text-align: center;
    max-width: 100%;
    padding: 32px;
}

.structured-text figure > img {
    max-width: 100%;
    margin: auto;
}

.structured-text figure figcaption {
    margin: 0;
    text-align: center;
    font-size: 80%;
    color: #333;
}

.structured-text h1 {
    font-size: 180%;
    margin: 64px 0 32px 0;
}

.structured-text h2 {
    font-size: 160%;
    margin: 64px 0 32px 0;
}

.structured-text h3 {
    font-size: 140%;
    margin: 48px 0 26px 0;
}

.structured-text blockquote {
    margin: 12px 48px 12px 48px;
    font-style: italic;
}

.structured-text p {
    margin: 6px 0 24px 0;
}
.structured-text li,
.structured-text blockquote,
.structured-text p {
    line-height: 140%;
    font-weight: 300;
}

.structured-text strong,
.structured-text b {
    font-weight: 500;
}

pre.example {
    font-family: "Fira Mono", monospace;
    font-size: 85%;
    background-color: #fff;
    color: #333;
    padding: 8px;
    border-radius: 4px;
}

div.roe[data-kind="quote"] {
    margin: 48px 28px;
    /* padding: 8px; */
    /* border-radius: 23px; */
    /* border-left: 4px solid #f3f3f3; */
}

div.roe[data-kind="quote"] blockquote {
    font-family: 'Old Standard TT', 'Helvetica Neue', Helvetica, serif;
    font-size: 125%;
    line-height: 115%;
    border-radius: 4px;
    text-align: justify;
}

div.roe[data-kind="quote"] blockquote p:last-child {
    margin: 0;
}

div.roe[data-kind="quote"] .quote-underbox {
    margin: 0 32px;
    padding: 0;
    padding-top: 12px;
    display: flex;
    flex-direction: row;
    font-size: 75%;
    align-items: center;
    justify-content: flex-end;
}


div.roe[data-kind="quote"] > *:first-child {
    margin-bottom: 0;
}

div.roe[data-kind="quote"] .quote-underbox .quote-author {
    text-align: right;
    margin-left: 8px;
}

div.roe[data-kind="quote"] .quote-underbox .quote-place,
div.roe[data-kind="quote"] .quote-underbox .quote-date > span,
div.roe[data-kind="quote"] .quote-underbox .quote-author > span {
    font-weight: 400;
    border-radius: 4px;
    color: #999;
}

div.roe[data-kind="quote"] .quote-underbox .quote-place {
}

div.roe[data-kind="quote"] .quote-underbox .quote-date > span,
div.roe[data-kind="quote"] .quote-underbox .quote-author > span {
    font-weight: 700;
    padding: 3px 12px
}

div.roe[data-kind="quote"] .quote-underbox .quote-author > span {
    border: 2px solid #DDD;
}

div.mozaic > p {
    margin: 32px auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

div.mozaic > p > * {
    flex: 0 1 40%;
}

div.mozaic img {
    width: 100%;
    padding: 8px;
}

div.resume-box {
    margin-bottom: 32px;
    top: 230px;
    display: block;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: #f9f9f9;
    padding: 6px 4px;
}

div.resume-box .progress-bar {
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
    height: 12px;
    margin: 12px auto;
    display: flex;
    flex-direction: column;
}

div.resume-box .progress-bar > .progress {
    background-color: #ddd;
    border-radius: 8px;
    transition: all 0.8s ease;
    flex: 1;
}

div.resume-box .button {
    background-color: #ddd;
    display: inline-block;
    margin: 6px auto;
    padding: 2px 4px;
    text-align: center;
    font-size: 80%;
    margin: 0 4px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    border-radius: 4px;
}

div.location-box {
    margin-top: 32px;
}

div.location-box > div > div {
    display: flex;
    flex-direction: row;
    font-size: 80%;
}

div.location-box > div > div > div  {
    flex: 1;
}

div.location-box > div > div > div.moment  {
    font-family: "Fira Mono", monospace;
}


div.location-box > div > div > div:first-letter {
    text-transform: capitalize;
}

div.location-box > div > div {
    padding: 6px 12px;
}

div.location-box > div > div:nth-child(even) {
    background-color: #FFF;
}

div.location-box > div > div.current {
    background-color: #000;
    color: #FFF;
    font-weight: 700;
    border-radius: 8px;
}

div.location-box > div > div.current > div.since::before {
    content: "depuis ";
}

p.free-paragraph {
    display: block;
    margin: 8px 0;
}


@media screen and (max-width: 720px) {
    .main-columns {
        flex-direction: column;
    }

    .main-columns > div {
        flex: 0;
        margin-left: 0;
        padding-bottom: 24px;
        margin-bottom: 32px;
        border-bottom: 1px solid #c0c0c0;
    }

    .main-columns > div:last-child {
        margin-bottom: 0;
    }

    .main-columns > div:last-child {
        border: 0px solid black;
    }

    footer > .container {
        flex-direction: column;
    }

    footer > .container > div {
        text-align: center;
    }

    .project-item .project-badges {
        display: none;
    }

    .project-item {
        margin-bottom: 32px;
    }

    .project-item:last-child {
        margin-bottom: 0;
    }
    
}

