@import '../fonts/inter/inter.css';

*,
*::before,
*::after {
    box-sizing: border-box;
}


body {    
    padding: 0;
    margin: 0;
    background-color: #f9f9f9;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Inter var', system-ui, sans-serif;
    font-size: 15px;
}

.container {
    width: 100%;
    max-width: 1024px;
    margin: auto;
}

.container p {
    margin: 0;
    padding: 0;
}

main {
    flex: 1;
    padding: 18px 12px;
}

main > .container {
    padding: 12px;
}

header {
    padding: 18px 12px;
}

header .for-pictorgram {
    margin-right: 12px;
    flex: 0;
}

header .for-pictorgram  .pictogram { 
    width: 64px;
    height: auto;
}

header > div > div {
    display: flex;
    flex-direction: row;
}

header > div > div > * {
    margin: auto 0;
}

header > div > div > .header-bar {
    flex: 1;
}

header > div > nav {
    margin-top: 12px;
    margin-left: 12px;
}

header > div > nav > a {
    font-size: 80%;
    font-weight: 500;
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 4px 24px;
    border-radius: 4px;
    margin-right: 8px;
    background-color: #ffffff;
}

header > div > nav > a > img {
    width: 32px;
}

.project-page h2,
header h2,
header h1 {
    padding: 0;
    margin: 0;
}

header h1 {
    font-size: 150%;
    font-weight: 300;
}

header h2 {
    font-size: 110%;
    font-weight: 100;
}

footer {
    background-color: #ffffff;
    padding: 18px 12px;
    font-size: 80%;
}

footer > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

footer > div > div {
    margin: auto;
}

footer > div > .left,
footer > div > .right {
    flex: 1;
}

footer .pictogram {
    width: 32px;
    height: auto;
}

footer a {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
}



.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.project-page .project-header,
.project-item {
    margin: 0;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    color: #000;
}

.project-page .project-header {
    align-items: center;
}

.project-item {
    align-items: start;
    text-decoration: none;
    color: #000;
    font-size: 80%;
}

.project-page .project-header img,
.project-item img {
    height: auto;
}

.project-item img {
    width: 32px;
}

.project-page .project-header img {
    width: 64px;
}

.project-page .project-picto,
.project-item .project-picto {
    padding: 2px;
}

.project-item .project-picto {
    background-color: #000;
    border-radius: 10px 0 10px 0;
}


.project-item h2 {
    padding: 0;
    margin: 0;
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 140%;
}

.project-page .project-details,
.project-item .project-details {
    margin-left: 12px;
}

.project-item .project-badges {
    margin: 0;
    margin-top: 8px;
    display: flex;
    flex-direction: row;
}

.project-item .project-badges > .project-badge {
    font-weight: 400;
    font-size: 95%;
    background-color: #FFF;
    padding: 4px 8px;
    margin: 0;
    margin-right: 6px;
}

.project-item .project-badges > .status::before {
    content: "status: ";
    font-weight: 200;
    color: #444;
}

.project-item .project-badges > .license::before {
    content: "licence: ";
    color: #444;
    font-weight: 200;
}

.qexp-metadata {
    display: none;
}
