<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      xvw - $title$
      $if(synopsis)$
      : $synopsis$
      $endif$
    </title>
    <link rel="stylesheet" href="/css/default.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div>
          <div class="for-pictorgram">
            <img class="pictogram" src="/picto/planet.black.svg" />
          </div>
          <div class="header-bar">
            <h1>xvw.github.io</h1>
            <h2>$title$</h2>
          </div>
        </div>
        <nav>
          <a href="/"><span>Accueil</span></a>
          <a href=""><span>test</span></a>
          <a href=""><span>test</span></a>
        </nav>
      </div>
    </header>
    <main role="main">
      <div  class="container">
        $body$
      </div>
    </main>
    <footer>
      <div class="container">
        <div class="left">
          Cette page est construite avec
          <a href="https://jaspervdj.be/hakyll/">Hakyll</a> et
          <a href="/projects/planet.html">Planet</a>.
          <br />
          Le contenu est distribué sous licence
          <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA</a>.
        </div>
        <div class="center">
          <a href='http://webring.xxiivv.com/#random' target='_blank'>
            <img class="pictogram" src='/picto/webring.black.svg'/>
          </a>
        </div>
        <div class="right">
          <a href="">Xavier Van de Woestyne</a> ©<br />
          2017-2019
        </div>
      </div>
    </footer>
  </body>
</html>
