<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    $if(author)$
    <meta name="author" content="$author$">
    $else$
    <meta name="author" content="Xavier Van de Woestyne">
    $endif$
    $if(synopsis)$
    <meta
      name="description"
      content="$if(title)$$title$: $endif$$synopsis$"
      >
    $else$
    <meta
      name="description"
      content="Planet, page personnelle de Xavier Van de Woestyne"
      >
    $endif$
    <title>
      xvw - $title$
      $if(synopsis)$
      : $synopsis$
      $endif$
    </title>
    <link rel="stylesheet" href="/css/fonts.css" />
    <link rel="stylesheet" href="/css/hl.css" />
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="alternate" type="application/atom+xml" title="xvw-planet" href="/atom.xml" />
    <script src="/facade.bc.js"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <div>
          <div class="header-bar">
            <h1>Xavier Van de Woestyne</h1>
            $if(main_section)$
            <h2>$main_section$</h2>
            $else$
            $if(title)$
            <h2>$title$</h2>
            $endif$
            $endif$
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="navbar">
        <nav class="container">
          <a href="/">Accueil</a>
          <a href="/longs.html">Articles</a>
          <a href="/projects.html">Projets</a>
          <a href="/location.html">Localisation</a>
          <a href="/journal.html">Journal</a>
        </nav>
      </div>
      <div>
        $body$
      </div>
    </main>
    <footer>
      <div class="container">
        <div class="left">
          Cette page est construite avec
          <a href="https://jaspervdj.be/hakyll/">Hakyll</a> et
          <a href="/projects/planet.html">Planet</a>.
          <br />
          Le contenu est distribué sous licence
          <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA</a>.
        </div>
        <div class="center">
          <a href='http://webring.xxiivv.com/#random' target='_blank'>
            <img class="pictogram" src='/picto/webring.black.svg' alt="webring-logo"/>
          </a>
        </div>
        <div class="right">
          <a href="/xavier.html">Xavier Van de Woestyne</a> ©<br />
          2017-$partial("_seeds/partials/copyright_end.html")$
        </div>
      </div>
    </footer>
    <div id="planet-sectors-metadata">
      $partial("_seeds/partials/planet_sectors.meta.html")$
    </div>
    <script>
      planet.start();
    </script>
  </body>
</html>
