<div class="qexp-metadata" id="project-qexp-metadata">
  $partial(qexp_partial)$
</div>
<div class="project-page">
  <div class="project-header">
    <div class="project-picto">
      $if(pictogram)$
      <img src="/picto/$pictogram$.black.svg"/>
      $endif$
    </div>
    <div class="project-details">
      <h2>$displayable_title$</h2>
      <span class="synopsis">
        $synopsis$
      </span>
    </div>
  </div>
  <div class="project-badges">
    <div class="project-badge status $status$">
      $status$
    </div>
    $if(license)$
    <div class="project-badge license $license$">
      $license$
    </div>
    $endif$
    $if(repo)$
    <div class="project-badge repo">
      <a href="https://$repo$">$repo$</a>
    </div>
    $endif$
  </div>
  <div class="project-content">
    <div class="project-paper structured-text">
      $body$
    </div>
    <div class="project-rightbar">
      <div id="project-content-right">
      </div>
    </div>
  </div>
</div>
<div id="project-content-bottom">
</div>
<script type="application/javascript">
  console.log(document.getElementById("content-right"))
  planet.project.boot({
    timedata: document.querySelector(
      "textarea[data-planet-qexp='project_timedata']"),
    project: document.querySelector("textarea[data-planet-qexp='project']"),
    rightContainer: document.getElementById("project-content-right"),
    bottomContainer: document.getElementById("project-content-bottom")
  });
</script>
